.num-btn {
  color: black;
  background-color: grey;
  border: solid 1px white;
  width: 90%;
  height: 90%;
  border-radius: 5%;
  font-size: 2em;
  text-align: center;
  margin: 2%;
  outline: none;
}

.fcn-btn {
  color: black;
  background-color: coral;
  border: solid 1px white;
  width: 90%;
  height: 90%;
  border-radius: 5%;
  font-size: 2em;
  text-align: center;
  margin: 2%;
  outline: none;
}

button:active {
  box-shadow: 2px 2px 1px 1px #696969
}

.fcn-btn:nth-child(16) {
  grid-column: 4;
  grid-row: 4/5
}
